# server
NODE_ENV=dev # dev | prod | test
PORT=3333

# database local
DATABASE_URL="postgresql://docker:docker@localhost:5432/apiquiker?schema=public"

# auth
JWT_SECRET=c5f0cf36-3917-419c-bc8b-3abe3b1989c4
JWT_EXPIRES_IN=10m
